@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Permanent+Marker&family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Permanent+Marker&family=Signika&family=Special+Elite&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.container{
    max-width: 80%;
    margin: auto;
}
.flex{
    display: flex;
}
.flex1{
    display: flex;
    justify-content: space-between;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}
.grid1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}
/*--------------Header----------*/
header{
    background-image: url(headerImg.png);
    background-size: cover;
    height: 90vh;
}
header .container-content{
    background-color: rgba(0, 0, 0, 0.4 );
    height: 90vh;
}
header nav{
    display: flex;
    justify-content: space-between;
}
header .brand h1{
    font-size: 30px;
    font-weight: 100;
    line-height: 50px;
    font-family: 'Fira Sans' , sans-serif;
    color: white;
    cursor: pointer;
    /* AUTO TYPING TEXT */
}

header ul{
    position: relative;
    display: flex;
}
header ul li{
    padding-left: 50px;
    text-align: center;
    list-style: none;
    line-height: 50px;
}
header ul li a{
    display: flex;
    color: #d0d3d4;
    font-size: 15px;
    transition: 0.5s;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 2px;
}
header ul li a:hover {
    color: white;
}

/* Login/Signup Button */

.login {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
  /* ------------------------------- */
  width: 130px;
  height: 35px;
  border-radius: 30px;
  background-image: linear-gradient(13deg, #00ffaa 0%, #00ffff 100%);
  box-shadow: 0 20px 30px -6px rgba(0, 0, 0, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 15px;
  color: white;
  margin: 10px;
  
}
.login a{
  text-decoration: none;
  font-size: 15px;
  color: black;
  text-shadow: #d0d5db;
  border: #00ffaa;
}

.login:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.login:active {
  opacity: 0.5;
}

/* Login/Signup Button */

#icon{
    color: white;
    font-size: 30px;
    line-height: 40px;
    cursor: pointer;
    margin: 10px;
    opacity: 1;
}
header .icon{
    color: white;
    padding-top: 20px;
}
header .icon i{
    font-size: 20px;
    margin-right: 20px;
}
header .icon label{
    color: white;
    margin-right: 20px;
    font-size: 20px;
    opacity: 0;
}
header hr{
    opacity: 0.2;
    margin-top: 20px;
    width: 100%;
}
header .home{
    margin-top: 10%;
    text-align: center;
    color: #d0d3d4;
}
header .home h3{
    font-size: 25px;
    font-weight: 100;
    font-family: sans-serif;
    letter-spacing: 4px;
    word-spacing: 5px;
}
header .home h1{
    font-size: 105px;
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    margin-top: 30px;
}
header .home .item{
    margin-top: 10%;
    text-align: left;
}
header .home .item a{
    font-size: 20px;
    color: #12b0bb;
    opacity: 0.8;
}
header .home .item .item_box{
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    border-radius: 5px;
    transition: 0.5s;    
}
header .home .item .text{
    margin-left: 20px;
}
header .home .item img{
    width: 100px;
    height: 100px;
}
header .home .item_box:hover{
    background: #ecf0f1;
    transform: translate(-10px);
    color: black;
}
header .home .item_box:hover img{
    background-color: #12b0bb;

}

/*--------------Header----------*/

.design{
    margin-top: 5%;
    text-align: center;

}

.design .box{
    flex-direction: row;
}

.design .box i{
    font-size: 80px;
    margin-right: 40px;
}

.design .box i::after{
    content: " ";
    position: absolute;
    width: 80px;
    height: 80px;
    background: rgba(255, 0, 0, 0.5 );
    border-radius: 50%;
    margin-left: -40px;
    margin-top: 15px;
} 
.design .box h4{
    font-size: 25px;
    font-weight: 100px;
    margin-bottom: 10px;
}
.design .box p{
    font-size: 20px;
    color: gray;
    line-height: 35px;
}

/* --------   Design   ------------ */

/* About US */

.left,
.right{
    width: 50%;
    padding: 40px;
}
h2{
    font-size: 40px;
    font-family: sans-serif;
}
.about img {
    width: 100%;
    height: 100%;
  }
  
  .about .img::after {
    content: '';
    position: absolute;
    width: 600px;
    height: 650px;
    border: 10px solid skyblue;
    left: 13.5%;
    margin-top: 30px;
  }
  
  h5 {
    letter-spacing: 2px;
    color: crimson;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .about .accordion{
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.5s;
    margin: none;
    margin-top: 20px;
    position: relative;
    background: #d0d5db;
    border-radius: 5px;
  }

  .about .panel{
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }
  .about .panel .active{
    display: block;
  }
  .about p{
    font-size: 20px;
    color: grey;
    line-height: 35px;
    /* Auto typing text */

    border: 1px solid none;
    width: 750px;
    height: 75px;
    overflow: hidden;
    white-space: normal;
    animation: typing 5s steps(40, end);
}
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 600px;
    }
  }

/* About US */

/* TESTOMINALS */
.TESTOMINALS{
    display: flex;
    text-align: center;
    margin-top: 5%;
    text-align: center;
}
.TESTOMINALS .img{
    width: 100px;
    height: 100px;
    
}
.TESTOMINALS .img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: 1s;
}
.TESTOMINALS:hover .img img{
    transform: rotate(360deg);
}
h3{
    font-size: 30px;
    font-weight: 100;
    margin-top: 20px;
}
.TESTOMINALS .owl-carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* TESTOMINALS */

/* Blog */

.blog{
    margin-top: 6%;
    text-align: center;
}
.blog .box{
    text-align: left;
}
.blog .img{
    overflow: hidden;
    position: relative;
}
.blog img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    cursor: pointer;
    border: 5px;
    border-radius: 20px;
    border-style: dotted;
    border-color: black;
}
.blog img:hover{
    transform: scale(1.1);
}
.blog .box label{
    font-size: 20px;
    color: grey;
}
.blog .box p{
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.blog a{
    background: grey;
    padding: 20px 60px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: 0.5s;
    margin-left: 20%;
    margin-right: 20%;

}
.blog a:hover{
    background: none;
    border: 2px solid grey;
    color: black;
}
/* Blog */

/* Footer */
footer {
    margin-top: 10%;
    background: rgba(0, 0, 0, 0.8);
    color: grey;
  }
  
  footer .content {
    padding-top: 5%;
  }
  
  footer .content .item {
    padding: 40px;
    transition: 0.5s;
  }
  
  footer h3 {
    color: white;
    margin-bottom: 40px;
  }
  
  footer ul {
    list-style: none;
  }
  
  footer ul li {
    padding: 10px;
    font-size: 20px;
  }
  
  footer .box {
    margin-top: 20px;
  }
  
  footer .img {
    width: 100px;
    height: 100px;
  }
  
  footer .img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: 0.5s;
  }
  
  footer .text {
    margin-left: 20px;
  }
  
  footer p {
    font-size: 22px;
    margin-top: 20px;
  }
  
  footer input {
    width: 83%;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
    background: none;
    border: 1px solid grey;
  }
  
  footer input:focus {
    outline: none;
  }
  
  footer .label {
    background: rgb(80, 85, 54);
    padding: 12px;
    color: white;
    font-size: 18px;
    margin-left: -20px;
  }
  
  footer .icon i {
    font-size: 20px;
    margin-right: 20px;
  }
  
  footer .legal {
    text-align: center;
    padding: 70px;
  }
  
  footer .legal i,
  footer .legal label {
    color: red;
  }
  
  footer .content i:hover,
  footer .content label:hover,
  footer .content p:hover,
  footer .content li:hover {
    color: white;
    cursor: pointer;
    transform: translateX(10px);
  }
  
  footer .content i,
  footer .content label,
  footer .content p,
  footer .content li {
    transition: 0.5s;
  }
  



/* Footer */